{
  "env": {
    "browser": {
      "comments": false,
      "plugins": ["lodash"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "browsers": "last 4 versions" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ]
    },
    "main": {
      "comments": false,
      "plugins": ["lodash"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "node": "6" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ]
    },
    "module": {
      "comments": false,
      "plugins": ["lodash"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "modules": false,
          "targets": { "node": "6" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ]
    },
    "test": {
      "plugins": ["istanbul"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "browsers": "last 4 versions" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ]
    },
    "debug": {
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "chrome": 60 },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0",
        "@babel/preset-flow"
      ]
    }
  }
}
